body {
    background: #111;
    color: #fff;
    font-family: Arial;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.form {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 12px;
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista li {
    background: #1f1f1f;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
