body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form {
    margin-bottom: 15px;
}

input, select, button {
    padding: 8px;
    margin-right: 5px;
}
