body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

.container {
    text-align: center;
    padding: 40px;
}

h1 {
    margin-bottom: 5px;
}

p {
    color: #aaa;
}

.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: #ffcc00;
    color: #000;
}
