body {
    background: #111;
    color: white;
    font-family: Arial;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
}

.menu button {
    background: none;
    color: white;
    border: none;
    font-size: 22px;
    padding: 15px;
    cursor: pointer;
}

.conteudo {
    margin-left: 70px;
    padding: 20px;
}

.tela {
    display: none;
}

input, button {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
