body{
  font-family: Arial;
  background: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438") no-repeat center fixed;
  background-size: cover;
  color:white;
  padding:20px;
}

section{
  background: rgba(0,0,0,.7);
  padding:15px;
  margin:10px;
  border-radius:10px;
}
